
body {
  background-color: rgb(0, 53, 83);
}

#board {
  width: 600px;
  height: 600px;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  position: relative;
  left: 170px;
  top: 100px;
}

#walker {
  background-color: rgb(25, 2, 90);
  width: 50px;
  height: 50px;
  position: absolute;
  border-radius: 440px;
  left: 100px;   /* Uncomment if you want to set a "starting" position */
  top: 100px;    /* Uncomment if you want to set a "starting" position */
}

#walker2 {
  background-color: rgb(0, 75, 12);
  width: 50px;
  height: 50px;
  position: absolute;
  border-radius: 440px;
  left: 390px;   /* Uncomment if you want to set a "starting" position */
  top: 390px;    /* Uncomment if you want to set a "starting" position */
}
